body {
	background: #1c1c5a;
}

h1 {
	color: #fff;
	text-align: center;
	font: bold 35px Arial, sans-serif;
}

p {
	font: bold 15px arial, sans-serif;
}

.erro {
	position: absolute;
	font: normal 12px arial, sans-serif;
	width: 260px;
	height: 20px;
	left: 50%;
	margin-left: -130px;
	padding-top: 5px;
	background: linear-gradient(
        to bottom,
        #e71515,
        #920404
    );
	color: #fff;
	opacity: 0;
	transition: opacity .6s ease-in-out;
}

.caixa {
	border-radius: 6px;
	text-align: center;
}

#janela {
	background: #fff;
	color: #000;
	font: normal 15px arial, sans-serif;
	width: 350px;
	box-shadow: #0e0e2b 4px 4px 4px;
	margin: 50px auto auto auto;
	padding: 10px;
}

#flista {
	font: normal 10px Arial, sans-serif;
	color: #7e7e7e;
	margin-bottom: -25px;
	line-height: 22px;
}

#flista span {
	margin: 0 5px 0 5px;
	font: normal 12px Calistoga;
	color: #000;
}

#res {
	margin: 10px;
	font: normal 14px arial, sans-serif;
	line-height: 18px;
}

footer {
	color: #fff;
	text-align: center;
	font: italic 13px arial, sans-serif;
	margin: 20px;
}